@import "tailwindcss";



html {
  scroll-behavior: smooth;
}

.gradient-heading {
  @apply bg-linear-to-b from-cyan-200 to-blue-300 bg-clip-text text-transparent;
}

.gradient-content {
  @apply bg-linear-to-b from-cyan-200 to-purple-400 bg-clip-text text-transparent;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-bg-one {
  background: linear-gradient(to right, black, #3a05c4)
}

.custom-bg-two {
  background: linear-gradient(to right, cyan, skyblue)
}
